html{
    margin: 0;
}

body{
    margin: 0;
}



header{
    background-color: black;
    color: white;
}

table{
    padding-top: 1rem;
    padding-left: 0.2rem;
}

a{
    margin: 0.7rem;
    padding: 0.2rem;
    background-color: gray;
    border-radius: 5%;
    color: white;
    text-decoration: none;
}

header h1{
    text-align: center;
}

h2, img{
margin-left: 1rem;
}

img{
    height: 35vh;
    width: 35vw;
}

footer{
    background-color: black;
}

i, h3{
    color: white;
    text-align: center;
}

.iconos{
    text-align: center;
}
